/* SHARED */
.checkbox,
.radio {
  appearance: none; -webkit-appearance: none; -moz-appearance: none;
  background: transparent;
  border-radius: 0;
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  display: inline-block;
  font-size: 24px;
  height: 1em;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  vertical-align: middle;
  width: 1em;
}

.checkbox:before,
.checkbox:after,
.radio:before,
.radio:after {
  background: #000;
  content: "";
  display: block;
  height: 0;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.03s ease-in-out, height 0.03s ease-in-out;
  width: 0;
}

.checkbox:disabled,
.radio:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

/*.checkbox:disabled:before,
.radio:disabled:before {
  opacity: 0.5;
}*/

/* RADIO */
.radio {
  border-radius: 50%;
}

.radio:before {
  border-radius: 50%;
}

.radio:checked:before {
  height: 0.6em;
  width: 0.6em;
}

/* CHECKBOX  */
.checkbox {
  border-radius: 0;
}

.checkbox:indeterminate:before {
  height: 3px;
  width: 0.65em;
}

.checkbox:checked:before {
  height: 100%;
  width: 100%;
}

.checkbox:checked:after {
  border-color: #fff;
  border-style: solid;
  border-width: 0 0 3px 3px;
  height: 4px;
  transform: translate(-50%, -60%) rotate(-40deg);
  transition: width 0.06s ease-in-out, height 0.06s ease-in-out;
  width: 10px;
}