/* SELECT */
.select {
  appearance: none; -webkit-appearance: none; -moz-appearance: none;
  background: #ccc;
  border-radius: 0;
  font-size: inherit;
  font-family: inherit;
}

.select:after {
  background: #000;
  content: "12312312";
  display: block;
  /*height: 0;*/
  left: 50%;
  /*position: absolute;*/
  /*top: 50%;*/
  /*transform: translate(-50%, -50%);*/
  /*transition: width 0.05s ease-in-out, height 0.05s ease-in-out;*/
  /*width: 0;*/
}