.switch {
  appearance: none; -webkit-appearance: none; -moz-appearance: none;
  background: rgba(0,0,0,0.2);
  border-radius: 34px;
  border: 1px solid rgba(0,0,0,0.2);
  box-shadow: inset 0 2px 2px rgba(0,0,0,.07);
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  height: 34px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  vertical-align: middle;
  width: 54px;
}

.switch:before {
  background: #fff;
  border-radius: 50%;
  border: 1px solid rgba(0,0,0,0);
  box-shadow: -45px 0 0 34px #0a0;
  content: "";
  display: block;
  height: calc(34px - 4px);
  left: 0;
  margin-left: 0;
  position: absolute;
  top: 0;
  transition: margin-left ease-in-out 0.1s;
  width: calc(34px - 4px);
}

.switch:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.switch:disabled:before {
  box-shadow: -45px 0 0 34px rgba(0, 0, 0, 0.7);
}



/*
.switch [type="checkbox"],
.switch [type="radio"] {
  appearance: none; -webkit-appearance: none; -moz-appearance: none;
  cursor: pointer;
  height: 34px;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  width: 54px;
  opacity: 0;
  font-size: 1em;
}

.switch-placeholder {
  background: #ddd;
  border-radius: 34px;
  border: 1px solid rgba(0,0,0,0.2);
  box-shadow: inset 0 2px 2px rgba(0,0,0,.07);
  display: inline-block;
  height: 34px;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: all ease-in-out 0.1s;
  vertical-align: middle;
  width: 54px;
}

.switch-placeholder:before {
  background: #fff;
  border-radius: 50%;
  border: 1px solid rgba(0,0,0,0);
  box-shadow: -45px 0 0 34px #0a0;
  content: "";
  display: block;
  height: calc(34px - 4px);
  left: 0;
  margin-left: 0;
  position: absolute;
  top: 0;
  transition: margin-left ease-in-out 0.1s;
  width: calc(34px - 4px);
}*/

/* :HOVER CONTROL */
.switch:hover:before {
  border-color: rgba(0,0,0,0.2);
}

/* :FOCUS CONTROL */
.switch:focus {
  box-shadow: inset 0 2px 2px rgba(0,0,0,.07), 0 0 8px rgba(102,175,233,.6);
  outline: 0;
}
.switch:focus:before {
  border-color: #66afe9;
}

/* :CHECKED CONTROL */
.switch:checked:before {
  margin-left: 20px;
}

/* :INDETERMINATE CONTROL */
.switch:indeterminate:before {
  margin-left: 10px;
}